
@media screen and (max-width: 1400px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    #about {
    justify-content: center;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
      margin-top: 10vh;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
      justify-content: center;
    }
    .about-containers {
      margin-top: 0;
    }
    .details-container {
      margin: 0 auto; /* 中央寄せ */
    }    
    .experience-details-container-2 {
      display: flex;
      overflow-x: auto; /* 水平方向のスクロールを可能にする */
      white-space: nowrap; /* 子要素を同じ行に保持する */
    }
    .details-container-2 {
        min-width: 300px; /* 各プロジェクトの最小幅を設定 */
        display: inline-block; /* 水平方向に配置 */
        margin-right: 2rem; /* 隣のプロジェクトとの間隔 */
    }
    .section__text__English {
      display: none;
    }
    nav {
      position: fixed;
    }
  }
  
  @media screen and (max-width: 750px) {
    body {
      align-items: center;
    }
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      margin-bottom: 0;
      padding-top: 10vh;
      padding: 5vh;
    }
    article {
      font-size: 0.75rem;
    }
    .details-container {
      font-size: 0.5rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }

    .about-containers {
    justify-content: center;
    flex-direction: row;
    font-size: 0.5rem;
    }
    
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 60vw;
      justify-content: center;
    }
    /* .section__text__p2 {
      font-size: 1.25rem;
    } */
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
    .details-container {
      margin: 0 auto; /* 中央寄せ */
    }
    .experience-details-container-2 {
      display: flex;
      overflow-x: auto; /* 水平方向のスクロールを可能にする */
      white-space: nowrap; /* 子要素を同じ行に保持する */
  }
  
    .details-container-2 {
        min-width: 300px; /* 各プロジェクトの最小幅を設定 */
        display: inline-block; /* 水平方向に配置 */
        margin-right: 2rem; /* 隣のプロジェクトとの間隔 */
        font-size: 0.75rem;
    }
    .section__text__p3 {
      display: none;
    }
    .internship_company {
      font-size: 1.25rem;
    }
    .section__text__p2 {
      font-size: 0.5rem;
    }
    .publication-article {
      font-size: 1rem;
    }
    .btn-container-2 {
      display: block;
    }
    .btn {
      font-size: 0.7rem;
    }
    .about-containers p, .about-containers li{
      color: black;
      font-size: 0.75rem;
    }
    #hamburger-nav {
      height: 7vh;
    }
    .publication-authors,
    .publication-publisher {
      display: none;
    }

    #skills {
      display: none;
    }

    #skills2 {
      display: block;
    }
  }